@import "tailwindcss";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  

}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.adi{
    font-family: monospace;
    padding: 2px;
    border-radius: 0.7ch;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}
.scroll-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

@font-face {
  font-family: "Samakarn";
  src: url("@/../../../public/Fonts/Samakarn.TTF");
  font-weight: normal;
  font-style: normal;
}


.sama{
  font-family: 'Samakarn';
}
::-webkit-scrollbar {
  display: none;
}
@keyframes spin {
  to {
    transform: rotate(300deg);
  }
}
.animate-spin-slow {
  animation: spin 4s linear;
}

 @keyframes fadeInUp {
          from {
            opacity: 0;
            transform: translateY(20px);
          }
          to {
            opacity: 1;
            transform: translateY(0);
          }
        }
        
        @keyframes float {
          0%, 100% {
            transform: translateY(0px);
          }
          50% {
            transform: translateY(-5px);
          }
        }
